@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap');

/* font-family: 'Raleway',
sans-serif; */

#2b6777 #c8d8e4 #ffffff #f2f2f2 #52ab98 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    font-family: 'Raleway', sans-serif;
}

section {
    background: #c8d8e4;
    width: 50%;
    text-align: center;
    padding: 2%;
    margin: 20vh auto;
    border-radius: 10px;
    font-size: 1.2rem;
    box-shadow: 10px 10px 10px rgb(120, 120, 120)
}

h1 {
    background: #2b6777;
    color: #f2f2f2;
    padding: 2%;
}

.input_rounds {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-evenly;
}

.output_points {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.output_points img {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background: #ffffff;
    border: none;
    box-shadow: 5px 5px 5px rgb(120, 120, 120)
}

.icons button {
    border-radius: 50px;
    width: 80px;
    height: 80px;
    background: #ffffff;
    border: none;
    box-shadow: 5px 5px 5px rgb(120, 120, 120)
}

.icons {
    display: flex;
    justify-content: space-evenly;
}

.restart {
    background: #2b6777;
    border: none;
    color: #f2f2f2;
    padding: 2% 5%;
    box-shadow: 5px 5px 5px rgb(120, 120, 120);
}

.restart:hover,
.icons button:hover {
    transform: scale(1.1);
    transition: transform 500ms ease-in-out;
}

footer p {
    font-size: .8rem;
}